header{
background-color: blueviolet;
justify-content: space-between;
height: 60px;
display: flex;
align-items: center;
}
.dsmovie-nav-content{
    display: flex;
    justify-content: space-between;
align-items: center;
}
.dsmovie-contact-cobtainer{
display: flex;

}